.Header{
    width: 100%;
    height: 60px;
    background: #121f3d;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;
}

.Header h3{
    font-size: 1.150rem;
    text-transform: uppercase;
}


@media only screen and (max-width: 768px){

    .Header{
        justify-content: center;
        padding-left: 0;
        height: 50px;
    }

    .Header h3{
        font-size: 1em;   
    }
}